{% extends "base.html" %}

{% block content %}
<section class="page-card fade-up">
    <p class="eyebrow">Our Story</p>
    <h1 class="section-title">The Journey of Us ❤️</h1>
    <p class="section-text">
        The moments that became memories, and the memories that became our story Baby
    </p>

    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-box">
                <div class="date">27 March 2024</div>
                <div class="content">The day our story began the start of something so special to me that I never will forget x 💕</div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-box">
                <div class="date">Our First Date</div>
                <div class="content">I was nervous honestly I was to get sick but I was excited, and already knew this was going to mean something real even before seeing and touching you, we played bowling in the plex and you won on our first date what a victory for you ever since I kissed you on that day I never felt so alive it was amazing!x ❤️</div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-box">
                <div class="date">Our Favourite Memory</div>
                <div class="content">One of those perfect moments I replay in my mind because it felt like home with you when we watched movies, playing games with eachother, delivering the gossip, you basically being me and me being you we are unbreakable we are best friends and lovers in one there so many memories when you fell in Germany, We went and see seals twice, our little car nights and hotel nights I will never forget about them they are in my mind always x 🌍</div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-box">
                <div class="date">27 March 2026</div>
                <div class="content">Two years later because of that smooth way of asking you to be my girlfriend , and I still choose you with all of my heart every day, every time you don't know how much you mean to me, words can't describe how you mean to me, I cry even thinking about how much I love you and how grateful I am, I need you and only always x 💖</div>
            </div>
        </div>
    </div>
        <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-box">
                <div class="date">Our Holidays</div>
                <div class="content">We have been on three holidays and now would be 4 this May, going on holidays with you is the best thing ever, looking forward the airport and then the flight, let you always have the window seat because how much I love you, funny times when we are away like when you killed my ass on the jetski, going to see Man United play, Getting sunburned and going shopping off course, those memories with you are amazing and I can't wait to create more with you for eternity baby xx😘</div>
            </div>
        </div>
</section>
{% endblock %}